
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #172033;
    background: #f5f7fb;
}

header {
    background: white;
    border-bottom: 1px solid #ddd;
}

nav {
    max-width: 1000px;
    margin: auto;
    padding: 20px;

    display: flex;
    justify-content: center;
    gap: 25px;

    flex-wrap: wrap;
}

nav a {
    color: #1558b0;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero h2 {
    color: #1558b0;
}

.button {
    display: inline-block;
    background: #1558b0;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

article {
    background: white;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}

form {
    max-width: 600px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #777;
    border-radius: 6px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #1558b0;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 3px solid orange;
    outline-offset: 3px;
}

footer {
    text-align: center;
    background: white;
    padding: 25px;
    margin-top: 30px;
}

@media (max-width: 600px) {

    .hero h1 {
        font-size: 30px;
    }

    nav {
        gap: 12px;
    }
}